@import '../../variables';

.Header {
}

.title {
  font-family: @font-family-draw, sans-serif;
  font-size: @font-size-title-header;
  background: @gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
