@import '../../variables';

.Header {
}

.title {
  font-family: @font-family-draw, sans-serif;
  font-size: @font-size-title-header;
  background: @gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Light version

@media (prefers-color-scheme: light) {
  .title {
    background: @gradient-light;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

// Phone version

@media ( max-device-width: @phone-width) {
  .title {
    font-size: @font-size-title-header-phone;
  }
}