@import '../../../../variables';

.Tile {
  margin: @margin-1;
  padding: @padding-05;
  background-color: @tile-background-color !important; // Override <Card> style
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  .Tile {
    background-color: @tile-background-color-light !important; // Override <Card> style
  }
}
