
@font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
@line-height: 1.5;
@font-weight: 400;
@font-synthesis: none;
@text-rendering: optimizeLegibility;
@webkit-font-smoothing: antialiased;
@moz-osx-font-smoothing: grayscale;

@font-size-title-header: 8em;

// Colors
@color-scheme: light dark;

@background-color: #242424;
@background-color-light: #f9f9f9;

@color: rgba(255, 255, 255, 0.87);
@color-light: #213547;

@color-title-gradient-1: #622774;
@color-title-gradient-2: #C53364;

@gradient: -webkit-linear-gradient(90deg, @color-title-gradient-1, @color-title-gradient-2);

@media (prefers-color-scheme: light) {
  @background-color: @background-color-light;
  @color: @color-light;
  @font-weight: 800;
}
