// Custom fonts

@font-face {
  font-family: @font-family-draw;
  src: url('../fonts/drawing-set.otf');
}

@font-face {
  font-family: @font-family-wednesday;
  src: url('../fonts/wednesday.ttf');
}

@phone-width: 480px;
// Font params

@font-family-draw: draw;
@font-family-wednesday: wednesday;
@font-family: @font-family-wednesday, system-ui, Avenir, Helvetica, Arial,
  sans-serif;
@line-height: 1.5;
@font-weight: 400;
@font-synthesis: none;
@text-rendering: optimizeLegibility;
@webkit-font-smoothing: antialiased;
@moz-osx-font-smoothing: grayscale;

@font-size-title-header: 8em;
@font-size-title-header-phone: 5em;
@font-size-text: 1.5em;
@font-size-text-phone: 1em;

// Margins

@margin-1: 1em;

// Paddings

@padding-05: 0.5em;
@padding-1: 1em;

// Colors
@color-scheme: light dark;

@background-color: #242424;
@background-color-light: #f9f9f9;
@tile-background-color: #1a1a1a;
@tile-background-color-light: #d5d5d5;

@color: rgba(255, 255, 255, 0.87);
@color-light: #213547;

@color-title-gradient-1: #622774;
@color-title-gradient-2: #c53364;

@color-title-gradient-1-light: #fce38a;
@color-title-gradient-2-light: #f38181;

@gradient: -webkit-linear-gradient(
  90deg,
  @color-title-gradient-1,
  @color-title-gradient-2
);

@gradient-light: -webkit-linear-gradient(
  90deg,
  @color-title-gradient-1-light,
  @color-title-gradient-2-light
);

//@media (prefers-color-scheme: light) {
//  @background-color: @background-color-light;
//  @color: @color-light;
//  @font-weight: 800;
//}
